body{
    margin: 0%;
    text-align: center;
}
.first{
    background-color: powderblue;
}
.top-cloud{
    position: relative;
    margin-top: 3%;
    left: 25% ; 
}
.bottom-cloud{
    display: block;
    position: relative;
    left: 20%;  
    margin: 0px;  
}
h1{
    font-size: 5rem;
    color: #66bfbf;
}
h2{
    color: #66bfbf;
    font-size: 3rem;
}
.profile img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 5%;
}
.profile{
    margin-top: 5px;
    margin-bottom: 10%;
}

.intro{
    margin: auto;
    width: 30%;
    font-size: 1.5rem;
}
h3{
    color: #006c6c;
}
.second-mid{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;

}

.second p{
    font-size: 1.1rem;
    padding: 10px;
}
.contact-me p{
    margin: auto;
    width: 30%;
    padding-bottom: 5%;
}

.third{
    padding: 2%;
    background-color: powderblue;
}
.third a{
    margin: 20px;
   padding: 10px;
   color: #66bfbf;
   text-decoration: none;
}
.copyright{
    color: white;
    margin-top: 40px;
    font-size: 1rem;
}
