html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav_container{
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
    
}
.nav_box{
    display: flex;
    justify-content: center;
    align-items: center;   
    
}
.logo{
    width: 50px;
    height: 50px;
}
.title{
    font-size: 2rem;
    text-decoration: none;
    color: rgb(60, 60, 60);
    padding: 5px;
    padding-right: 160%;

}
.home{
    text-decoration: none;
    color: black;
    padding-right: 20px;
    padding-left: 80%;
}
.create{
    text-decoration: none;
    color: black;
    padding-right: 20px;
}
.delete{
    text-decoration: none;
    color: black;
    padding-right: 20px;
}
.contact{
    text-decoration: none;
    color: black;
    padding-right: 20px;
    
}
.about{
    text-decoration: none;
    color: black;
    padding-right: 20px;
}
.about:hover{
    color: rgb(187, 182, 182);
}
.contact:hover{
    color: rgb(187, 182, 182);
}
.delete:hover{
    color: rgb(187, 182, 182);
}
.create:hover{
    color: rgb(187, 182, 182);
}
.home:hover{
    color: rgb(187, 182, 182);
}
.title:hover{
    color: gainsboro;
}


.container{
    margin: 0% ;
    position: relative;
    top: 90px;
    
}
.blog_post{
    border: 5px solid black;
    background-color: gainsboro;
    margin: 1%  15% 0 15%;
    padding-left: 30px;
}


.about_p{
    display: flex;
    justify-content: center;
    align-content: center;
    display: block;
    margin: 20%;
    margin-top: 0%;
    margin-bottom: 0;
}


footer{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    margin-top: 150px;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: 0;
    

}
hr{
    width: 80vw;
}